<section>
  <h2>Code Files</h2>
  <div class="button-container">
      {% for filename in code_files %}
      <div class="code-file">
          <button class="toggle-button"
                  data-loaded="false"
                  data-url="{% url 'component_code' key=component.key %}?file={{ filename }}"
                  data-filename="{{ filename }}">
              Show {{ filename }}
              {% if filename == "template" %}.html
              {% elif filename == "readme" %}.md
              {% else %}.py
              {% endif %}
          </button>
      </div>
      {% endfor %}
  </div>
  {% for filename in code_files %}
  <div id="code-block-{{ filename }}" style="display: none;"></div>
  {% endfor %}
</section>
