<section class="example-container">
  <div class="component-preview">
      <h2>Example</h2>
      {% if component.rendered %}
          {{ component.rendered|safe }}
      {% else %}
          <em>No template available for this component.</em>
      {% endif %}
  </div>

  {% if example_data %}
      <div class="example-data">
          <h3>Example Data</h3>
          <pre><code id="example-data-{{ component.key }}">{{ example_data }}</code></pre>
          <button class="copy-btn"
                    hx-get="/dummy-endpoint"
                    hx-trigger="click"
                    data-code-id="example-data-{{ component.key }}">
                <img class="copy-icon" src="/static/icons/copy.svg" alt="Copy"> Copy Example Data
            </button>  
      </div>
  {% endif %}
</section>
