:root {
    --color-background: #fdfdfd;
    --color-tag-background: #c8c5c5;
    --color-text-light: white;
    --color-text-dark: #333;
    --color-border: #ccc;
    --color-primary: #6592c3;
    --color-secondary: #f3eeee;
    --color-shadow: rgba(0, 0, 0, 0.1);
    --color-nav-button-hover: #416b97;
    --color-button-hover: #d0d0d0;
    --color-copy-btn: #f0f0f0;
    --color-code-file: #a7c9df;
    --color-separator: #ccc;
    --color-hr: #f1eeee;
    --color-markdown-background: #f6f8fa;
    --color-heading-border: #eee;
    --border-radius: 0.25rem;
    --border-radius-lg: 0.3125rem;
    --border-radius-xl: calc(var(--border-radius) * 2);
    --border-radius-markdown: calc(var(--border-radius) + 0.125rem);
    --padding-sm: 0.2em;
    --padding-md: 0.4em;
    --padding-lg: 1rem;
    --padding-xl: 0.8em;
    --margin-sm: 0.2rem;
    --margin-md: 0.5rem;
    --margin-lg: 1rem;
    --margin-xl: 1.5rem;
    --gap-sm: 0.25rem;
    --gap-md: 0.5rem;
    --gap-lg: 1.25rem;
    --font-size-md: 1rem;
    --line-height: 1.6;
    --max-width: 80%;
    --transition: background-color 0.3s;
    --transform-transition: transform 0.2s;
    --transform-scale: scale(1.02);
    --box-shadow: 0 0.25rem 0.5rem var(--color-shadow);
    --icon-size: 1rem;
    --icon-margin: 0.25rem;
    --opacity-missing: 0.25;
    --nav-placeholder-width: 6.25rem;
    --import-block-margin: 1.25rem;
}
