<div class="c-dropdown {{ attributes.class|default:'' }}">
  <label for="{{ name }}">{{ label }}</label>
  <select name="{{ name }}" id="{{ name }}"
          hx-get="{{ target_url }}"
          hx-trigger="load"
          hx-target="#{{ name }}"
          {% if disabled_from %}disabled{% endif %}>
    {% if placeholder %}
      <option value="" disabled selected>{{ placeholder }}</option>
    {% endif %}
    {% for value, label in options %}
      <option value="{{ value }}" {% if value == value_from %}selected{% endif %}>{{ label }}</option>
    {% endfor %}
  </select>
</div>

