<article class="component-card" id="comp-{{ comp.key }}">
    <h2>{{ comp.name }}</h2>
  

  
    {% include "patternlib_browser/fragments/file_status.html" with comp=comp %}
  
    {% if comp.description %}
      <p>{{ comp.description }}</p>
    {% endif %}
  
    {% include "patternlib_browser/fragments/tags.html" with tags=comp.tags %}
   
  
    <div class="component-preview">
      {{ comp.rendered|safe }}
    </div>
  
    <a href="{% url 'component_detail' key=comp.key %}" class="view-detail-link">🔍 Vis komponent</a>
  </article>
  