<section class="mt-6">
  <h2>Importvejledning</h2>
  <p class="hint-text">
    Husk at erstatte <code>...</code> eller <code>value</code> med dine egne værdier fra projektet. Data-formatet er vist i eksempeldata ovenfor.
  </p>
  <p class="hint-text">
    Hvis templaten har attributes.class, kan du tilføje ekstra klasser til styling, f.eks.: <code>&lt;div class="{% templatetag openblock %} attributes.class {% templatetag closeblock %} my-custom-class another-class"&gt;</code>
  </p>
  <p class="hint-text">
    Hvis du bruger HTMX-elementer, skal du sørge for at inkludere følgende script i din header: <code>&lt;script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.4/htmx.min.js"&gt;&lt;/script&gt;</code>
  </p>
  <div class="import-block">
    {{ component.import_hint|safe }}
  </div>
</section>
