<div class="filter-container">
    <label for="tech-dropdown" class="filter-label">Filtrér efter teknologi:</label>
    <div class="dropdown">
        <select id="tech-dropdown" name="tech" class="dropdown-select"
                hx-get="."
                hx-target="#results"
                hx-push-url="true"
                hx-trigger="change">
            <option value="">Alle</option>
            {% for t in all_tech %}
                <option value="{{ t|lower }}" {% if t|lower in selected_tech %}selected{% endif %}>
                    {{ t|capfirst }}
                </option>
            {% endfor %}
        </select>
    </div>
</div>
