{% load custom_filters %}
<a href="{% url 'component_detail' key=comp.key %}" class="component-card-link">
  <article class="component-card" id="comp-{{ comp.key }}">
    <div class="component-header">
      <h2>
        {{ comp.display_name }}
        {% if comp.class_name %}
          <small class="import-hint">→ <code>{{ comp.class_name }}</code></small>
        {% endif %}
      </h2>
    </div>
    {% include "component_browser/includes/tags/tags.html" with tags=comp.tags %}
    <div class="file-status">
      {% include "component_browser/includes/detail/component_tech.html" with comp=comp %}
    </div>
  </article>
</a>
