{% load static %}

<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8">
  <title>{{ component.name }}</title>
  <link rel="stylesheet" href="{% static 'componentlib/css/main.css' %}">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/htmx/2.0.4/htmx.min.js" nonce="{{ request.csp_nonce }}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/15.0.7/marked.min.js" nonce="{{ request.csp_nonce }}"></script>
  <script src="{% static 'componentlib/js/componentlib.js' %}" nonce="{{ request.csp_nonce }}"></script>
</head>
<body>

{% include "component_browser/includes/detail/header.html" %}

<main>
  <article>
    {% include "component_browser/includes/detail/component_header.html" %}

    <hr>

    {% include "component_browser/includes/detail/description.html" %}

    <hr>

    {% include "component_browser/includes/detail/example.html" %}

    <hr>

    {% include "component_browser/includes/detail/import_guide.html" %}

    <hr>

    {% include "component_browser/includes/detail/code_files.html" %}

    <hr>

    {% include "component_browser/includes/detail/navigation.html" %}
  </article>
</main>

</body>
</html>
