{% load static %}
<!DOCTYPE html>
<html lang="da">
<head>
  <meta charset="UTF-8">
  <title>{{ component.name }}</title>
  <link rel="stylesheet" href="{% static '/componentlib/css/componentlib.css' %}">
</head>
<body>

<header>
  <nav>
    <a href="{% url 'component_browser' %}">← Tilbage til oversigt</a>
  </nav>
</header>

<main>
  <article>
    <header>
      <div class="component-header">
      <h1>
        {{ component.name }}  
        <small class="import-hint">→ <code>{{ component.class_name }}</code></small>
        
      </h1>
      
      </div>
    </header>
   
    {% include "patternlib_browser/fragments/tags.html" with tags=component.tags %}
    {% if component.exists %}
      {% include "patternlib_browser/fragments/file_status.html" with comp=component %}
    {% endif %}

    <hr>

    <section>
      <h2>Beskrivelse</h2>
      {% if component.description %}
        <p>{{ component.description }}</p>
      {% endif %}
    </section>

    <hr>

    <section>
      <h2>Eksempel</h2>
      <div class="component-preview">
        {% if component.rendered %}
        {{ component.rendered|safe }}
      {% else %}
        <em>Ingen template tilgængelig for denne komponent.</em>
      {% endif %}
      </div>
    </section>
    

    {% if previous or next %}
      <nav class="component-nav">
        {% if previous %}
        <a href="{% url 'component_detail' key=previous.key %}">← {{ previous.name }}</a>
      {% else %}
        <span></span>
      {% endif %}
      {% if next %}
        <a href="{% url 'component_detail' key=next.key %}">{{ next.name }} →</a>
      {% endif %}
      
      </nav>
    {% endif %}
  </article>
</main>

</body>
</html>
